body {
    background-color: rgb(100, 201, 232);
}

.calculator-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    border: 1px solid black;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px;
  
}

#btnEquals {
    background-color:rgb(226, 43, 43)
}

button {
    height: 100px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
}

button:hover {
  background-color: #04fd00;

}

button:active {
  transform: translateY(5px);
}

